ACCESS_TOKEN="<github access token>"

AWS_KEY_ID="<aws key>"

JSON_AUTH_TOKEN="<server auth token"

PROD_REPO_URI="DralrinResthal/ProdRepo"
TEST_REPO_URI="Username/Repository"

TEST_FILENAME="test.yml"
PROD_FILENAME="prod.yml"
